@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary:27, 38, 44;
  --secondary:15, 76, 117;
  --gradient-start: #0F4C75;
  --gradient-middle: #3282B8;
  --gradient-end: #BBE1FA;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --gradient-start: #0F4C75;
    --gradient-middle: #3282B8;
    --gradient-end: #BBE1FA;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      var(--gradient-start),
      var(--gradient-middle),
      var(--gradient-end)
    );
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
